<h3>Post Form</h3>
<div>
<%= form_for @post do |f| %><br>
  <%=f.label 'Post title' %><br>
  <%= f.text_field :title, :id => 'title' %><br>
<%=f.label'Post Description' %>
  <%=f.text_area :description, :id => 'description' %><br>
  <%= f.submit "Update Post" %>
<% end %>
</div>
